<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Site Web d'Anne-Laure Bonnefond</title>
        <script src="https://kit.fontawesome.com/4ead355834.js" crossorigin="anonymous"></script>
        <link rel="icon" href="public/img/favicon/favicon.ico" />
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Source+Code+Pro:ital,wght@0,400;0,700;1,400&family=Noto+Sans+JP:wght@300;400;700&family=Source+Sans+Pro:ital,wght@0,300;0,400;0,700;1,400&family=Dancing+Script:wght@400;700&display=swap" rel="stylesheet">
        <script src="https://kit.fontawesome.com/4ead355834.js" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="../public/css/normalize.css" type="text/css" />
        <link rel="stylesheet" href="../public/css/style.css" type="text/css" />
    </head>
    <body>
        <header class="header">
            <p><a href="#" id="menu"><i class="fas fa-bars"></i></a></p>
            <nav class="toolbar">
                <ul>
                    <li class="index">
                        <a href="../index.html">
                            Accueil
                        </a>
                    </li>
                    <li class="career">
                        <a href="career.html" >
                            Parcours
                        </a>
                    </li>
                    <li class="projects">
                        <a href="projects.html">
                            Projets
                        </a>
                    </li>
                    <li class="cv">
                        <a href="cv.html">
                            CV
                        </a>
                    </li>
                </ul>
            </nav>
        </header>
        <main class="container">
            <section class="projects">
                <article class="project pj1">
                    <h1>Projet Académique</h1>
                    <h2>Site marchand pour restaurateurs - en cours</h2>
                    <a href="https://annelaurebon.sites.3wa.io/FINAL%20PROJECT/index.php">
                        <img src="../public/img/resto_preview.png" alt="Aperçu site restaurant">
                    </a>
                </article>
            </section>
        </main>
        <footer class="footer">
            <p>Mon profil vous intéresse ? C'est par ici !</p>
            <p>&#128071;</p>
            <p><a href="mailto:al.bonnefond@gmail.com">Me contacter</a></p>
            <p>&copy; Tous droits réservés</p>
        </footer>
        <script src="../public/js/menu.js"></script>
        <script src="../public/js/active.js"></script>
    </body>
</html>
